body{
    margin:0;
    font-family:Arial;
    overflow:hidden;
}

/* Container principal */
#mainContainer{
    display:flex;
    width:100vw;
    height:100vh;
}

/* Sidebar */
#sidebar{
    width:320px;
    background:white;
    padding:15px;
    overflow:auto;
    border-right:1px solid #ccc;
}

/* Área direita */
#content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Gráfico */
#chartPanel{

    position:relative;   /* não mais absolute */

    top:auto;
    right:auto;

    width:100%;
    height:320px;

    display:block;

    border:none;
    border-bottom:1px solid #ccc;

    box-shadow:none;
    border-radius:0;
}

/* Cabeçalho */
#chartHeader{
    cursor:default;
    font-weight:bold;
    padding:5px;
}

/* Canvas */
#pixelChart{
    width:100% !important;
    height:260px !important;
}

/* Mapa */
#map{
    flex:1;
}

