body{
margin:0;
font-family:Arial;
}

#map{
position:absolute;
left:280px;
top:0;
right:0;
bottom:0;
}

#sidebar{

position:absolute;
left:0;
top:0;
bottom:0;

width:280px;

background:white;

padding:15px;

overflow:auto;

box-shadow:2px 0 6px rgba(0,0,0,0.3);

}

.layerItem{

border:1px solid #ddd;

padding:8px;

margin-bottom:8px;

}