body{
    margin:0;
    font-family:Arial;
}

#map{
    position:absolute;
    left:280px;
    top:0;
    right:0;
    bottom:0;
}

#sidebar{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:280px;
    background:white;
    padding:15px;
    overflow:auto;
    box-shadow:2px 0 6px rgba(0,0,0,0.3);
}

.layerItem{
    border:1px solid #ddd;
    padding:8px;
    margin-bottom:8px;
}


/* =======================================
   PAINEL DO GRÁFICO
   ======================================= */

#chartPanel{

    position:absolute;

    top:60px;
    right:20px;

    width:700px;
    height:700px;
    /* height:450px; */

    background:white;

    border:1px solid #999;

    border-radius:8px;

    padding:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.4);

    z-index:9999;

    display:none;
}

#chartHeader{

    font-weight:bold;

    cursor:move;

    margin-bottom:10px;
}

#pixelChart{

    width:100% !important;

    height:350px !important;
}