<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CIPC Viewer</title>

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <link rel="stylesheet"
          href="/static/style.css"/>
</head>

<body>

<div id="mainContainer">

    <!-- SIDEBAR -->
    <div id="sidebar">

        <h2>CIPC Viewer - Protótipo</h2>

        <!-- Datas -->
        <div style="display:flex; gap:10px;">

            <div>
                <b>Data inicial</b><br>
                <input type="date" id="startDate">
            </div>

            <div>
                <b>Data final</b><br>
                <input type="date" id="endDate">
            </div>

        </div>

        <hr>

        <!-- CETESB -->
        <h3>CETESB</h3>

        <label><input type="checkbox" value="O3" class="cetesbGas"> O3</label>
        <label><input type="checkbox" value="MP25" class="cetesbGas"> MP2.5</label>
        <label><input type="checkbox" value="MP10" class="cetesbGas"> MP10</label>
        <label><input type="checkbox" value="NO2" class="cetesbGas"> NO2</label>
        <label><input type="checkbox" value="SO2" class="cetesbGas"> SO2</label>
        <label><input type="checkbox" value="CO" class="cetesbGas"> CO</label>

        <br><br>

        <!-- Sentinel -->
        <h3>Sentinel-5P</h3>

        <label><input type="checkbox" value="O3" class="satGas"> O3</label>
        <label><input type="checkbox" value="AI" class="satGas"> AI</label>
        <label><input type="checkbox" value="NO2" class="satGas"> NO2</label>
        <label><input type="checkbox" value="SO2" class="satGas"> SO2</label>
        <label><input type="checkbox" value="CO" class="satGas"> CO</label>
        <label><input type="checkbox" value="CH4" class="satGas"> CH4</label>

        <br><br>

        <!-- GOES -->
        <h3>GOES-16</h3>

        <label>
            <input
                type="checkbox"
                value="AOD"
                class="goesGas">
            AOD
        </label>

        <br><br>   

        <button onclick="compareSeries()">
            Comparar
        </button>

        <hr>

        
        <b>Produto</b><br>
        <select id="produto"></select>

        <br><br>

        <div style="display:flex; gap:10px;">

            <div>
                <b>Ano</b><br>
                <select id="ano"></select>
            </div>

            <div>
                <b>Data</b><br>
                <select id="data"></select>
            </div>

            <div id="horaContainer" style="display:none;">
                <b>Hora</b><br>
                <select id="hora"></select>
            </div>   

        </div>

        <br>

        <button onclick="addLayer()">
            Adicionar camada
        </button>

        <br><br>

        <div style="display:flex; gap:5px;">

            <button onclick="loadTimeline()">
                Carregar Timeline
            </button>

            <button onclick="playTimeline()">
                ▶ Play
            </button>

            <button onclick="stopTimeline()">
                ■ Stop
            </button>

        </div>

        <br><br>

        <!-- Velocidade -->
        Velocidade

        <div style="display:flex; align-items:center; gap:10px;">

            <input
                id="speedSlider"
                type="range"
                min="100"
                max="2000"
                step="100"
                value="500">

            <span id="speedLabel">
                500 ms
            </span>

        </div>

        <br>

        <!-- Timeline -->
        <input
            id="timeSlider"
            type="range"
            min="0"
            max="0"
            value="0"
            step="1"
            style="width:100%;">

        <br>

        <span id="timeLabel"></span>

        <br><br>

        <button onclick="downloadCSV()">
            Download CSV
        </button>

        <hr>

        <h3>Camadas</h3>

        <div id="layersPanel"></div>

        <hr>

        <h3>Legendas</h3>

        <div id="legendPanel"></div>

    </div>

    <!-- ÁREA DIREITA -->
    <div id="content">

        <!-- gráfico suspenso -->
        <!-- PAINEL COMPARAÇÃO -->
        <div id="comparePanel" class="panelChart" style="display:none;">

            <div class="chartHeader">
                📊 CETESB x Sentinel
            </div>

            <canvas id="pixelChart"></canvas>

            <div style="padding:5px;text-align:center;">

                <!--Compare:-->

                <button onclick="downloadChartPNG('compare')">PNG</button>
                <button onclick="downloadChartJPG('compare')">JPG</button>
                <button onclick="downloadCSV('compare')">CSV</button>

                <button onclick="closeCompareChart()">Fechar</button>
            </div>

        </div>

        <!-- PAINEL TIMELINE -->
        <div id="timelinePanel" class="panelChart" style="display:none;">

            <div class="chartHeader">
                📈 Série Temporal Pixel
            </div>

            <canvas id="timelineChart"></canvas>

            <div style="padding:5px;text-align:center;">

                <button onclick="downloadChartPNG('timeline')">PNG</button>
                <button onclick="downloadChartJPG('timeline')">JPG</button>
                <button onclick="downloadCSV('timeline')">CSV</button>

                <button onclick="closeTimelineChart()">
                    Fechar
                </button>

            </div>

        </div>

        <!-- mapa -->
        <div id="map"></div>

    </div>

</div>

<div id="pixelValues">
    Pixel values
</div>

<!-- Bibliotecas -->
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://unpkg.com/georaster"></script>

<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>

<script src="https://cdn.jsdelivr.net/npm/chroma-js@2.4.2/chroma.min.js"></script>

<!-- Seu JS -->
<script src="/static/js/viewer.js"></script>

</body>
</html>