<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>CIPC Viewer</title>

<link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<link rel="stylesheet"
href="/static/style.css"/>

</head>

<body>

<div id="sidebar">

<h2>CIPC Viewer</h2>

Produto<br>
<select id="produto"></select><br><br>

Ano<br>
<select id="ano"></select><br><br>

Data<br>
<select id="data"></select><br><br>

<button onclick="addLayer()">Adicionar camada</button>

<hr>

<h3>Camadas</h3>

<hr>

<div id="layersPanel"></div>


<div id="pixelValues"
style="
position:absolute;
bottom:15px;
right:15px;
background:rgba(255,255,255,0.9);
padding:10px;
font-size:12px;
border-radius:6px;
box-shadow:0 0 6px rgba(0,0,0,0.3);
z-index:1000;">
Pixel values
</div>

<h3>Legendas</h3>

<div id="legendPanel"></div>

</div>

<div id="map"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="https://unpkg.com/georaster"></script>

<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>

<script src="/static/js/viewer.js"></script>

</body>

</html>